{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <!--Reset Password-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-3">
                <h2><b>Reset Password</b></h2>
                <hr>
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ password_reset_form|crispy }}
                    {{ values|linebreaks }}
                    <button class="btn btn-primary" type="submit">Send email</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
