{% extends 'base.html' %}
{% load crispy_forms_filters %}

<!--Contact form-->

{% block title %}Contact Us{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                {{ message|striptags|safe|linebreaksbr }}
            </div>
        {% endfor %}
    {% endif %}
    <div style="margin:20px">
        <h3><b>Contact Form</b></h3>
        <br>
        <h5><b><i>Contact us directly if you have any questions.</i></b></h5>
        <p>
            <i>Please write your name, email address and a message below if you have any questions.
                One of our staff members will be happy to contact you directly and answer your questions as soon as possible.</i>
        </p>
        <hr>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {{ values|linebreaks }}
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock %}