{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<p style="text-align: center">Are you sure you want to delete: "{{ newsletter }}"?</p>
			<form action="{% url 'control_panel:control_newsletter_delete' newsletter.id  %}" method="POST">
				{% csrf_token %}
                <p style="text-align: center">
                    <input class="btn btn-primary" type="submit" value="Confirm">
                    <a class="btn btn-danger" href="{% url 'control_panel:control_newsletter_list' %}">Cancel</a>
                </p>
			</form>
		</div>
	</div>
</div>
{% endblock %}